In [1]:
import sklearn
print(sklearn.__version__)

1.2.1

In [3]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()

iris_data = iris.data

iris_target = iris.target

iris_df = pd.DataFrame(data = iris_data, columns = iris.feature_names)

iris_df['label'] = iris_target

In [6]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [7]:
from sklearn.datasets import load_iris
iris = load_iris()

iris_x = iris.data

iris_y = iris.target

iris_df = pd.DataFrame(iris_x, columns = iris.feature_names)

iris_df['species'] = iris_y

iris_df.tail(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [18]:
iris_label = iris_target

print(iris_label)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

## 데이터 전처리
### 데이터 전처리
데이터 분석을 할 수 있도록 데이터를 가공하는 작업으로 전처리를 어떻게 하는지에 따라서 분석 결과에 영향을 미친다.

일반적으로 가장 많은 시간이 소요되는 단계에 속하며, raw data를 clean data로 만드는 작업으로 데이터를 가공하여 분석에 적합한 형태로 만드는 과정을 모든 과정을 의미한다. 일반적으로 데이터 분석, 데이터 마이닝, 머신러닝을 수행하기 위한 필수적인 단계로 좋은 데이터 없이는 분석이 불가하기에 대단히 중요한 단계이다.

데이터 전처리를 해야하는 이유는 다음과 같다.

### 데이터 전처리의 필요성
잡음 (noise): 측정 과정에서의 오류 값.
이상치(outlier): 일반적인 데이터에 비해 다른 특성을 가지는 튀는 값
부적합(inconsistent): 모순된 잘못된 데이터 값.
결측치(missing value): 누락된 데이터 값.
중복(duplicated): 중복되는 데이터 값.
이러한 값들이 많으면 데이터를 적절히 분석하는데 어려움이 있기에 필요 없는 값들은 삭제하고 부족한 값들은 적절한 값으로 채워넣어 분석에 용이하도록 가공하는 등의 다양한 절차가 필요한 것이다.

### 데이터 전처리 작업순서
데이터 정제 (Data Cleaning)
잡음, 부적합, 결측치를 수정하고 읽을 수 없는 요소 제거함
형식의 일관성을 유지하고 적합한 포맷으로 변환함
데이터 통합 (Data Integration)
다양한 소스에서 얻은 데이터를 단일 형식으로 변경한 후 동일한 단위나 좌표로 변환함
이름 의미의 일관성을 유지하고 메타 데이터 또한 유지함
데이터 축소 (Data Reduction)
일반적인 데이터는 크기가 너무 커서 한번에 분석이 어렵기 때문에 축소시킨 데이터를 사용하는 것이 효과적임
ex. 샘플링, 차원축소, 특징 선택, 이산화 등
데이터 변환 (Data Transformation)
정규화, 집계 등을 통해 데이터 형식이나 구조를 변환함
데이터 정제의 여러 종류
데이터 정제에는 앞서 언급한 여러 가지가 있다.

### 결측값 (Missing Value)
결측값은 값이 존재하지 않고 비어있는 상태를 의미한다. 그렇기에 결측치가 많을수록 데이터가 불충분하다는 것을 뜻하며 이러한 결측값들은 완전히 랜덤하게 발생하거나 다른 변수의 영향으로 조건에 따라 랜덤하게 발생하거나 특정 사유에 의해 발생하는 등 다양한 케이스를 가질 수 있다. 그렇다면 이러한 결측값들은 어떻게 처리해야 할까?

처리방법은 매우 다양하다. 먼저 재조사를 통해 데이터를 다시 수집할 수도 있고, 결측값을 제외하고 분석을 수행할 수도 있고, 결측값을 포함한 데이터 개체(row) 또는 속성(column)을 제거할 수도 있고, 결측값을 특정 상수로 채워넣는다던지, 결측값을 추정하여 채워넣는 등의 작업을 할 수 있다. 결측값은 그렇다면 어떻게 채워넣을 수 있을까?

속성(column)의 대푯값(평균값, 중앙값 등)을 사용하여 채워넣을 수도 있고, 동일한 속성값의 평균값 (혹은 중앙값) 을 사용하든지 회귀 분석, 베이지안 추론, 의사결정나무 등을 활용하여 예측할 수 있다.

### 잡음 (Noise)
노이즈의 경우에는 데이터 평활화 기법(smoothing technique) 이라 불리는 방법으로 처리하곤 한다. 스터디때 계속 언급되었던 스무딩 처리가 이러한 노이즈 발생에 대응하기 위한 하나의 수단인 것이다.

구간화 (Binning): 정렬된 데이터를 구간으로 분할
회귀 (Regression): 회귀 분석을 통해 평활화
군집화 (Clustering): 유사한 값들을 그룹화
이상치 (Outliers)
이상치는 표준편차 3 이상의 값을 주로 뜻하며, 값을 제거하던지 값을 특정 범위로 제한하는 방법을 통해 처리한다.
## 데이터 세트 분리
## 모델 학습 및 검증 평가
## 예측 수행
## 예측 평가

In [22]:
import numpy as np

array = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

unique_values, counts = np.unique(array, return_counts=True)

for value, count in zip(unique_values, counts):
    print(f"Value {value} appears {count} times")

Value 0 appears 50 times
Value 1 appears 50 times
Value 2 appears 50 times